/* Set CSS variables */
:root {
    --GalenaFDRed: #ca1e14;
    --mcb: rgb(9,92,212);
    --red: rgb(255,0,0);
    --mcy: rgb(251,208,0);
    --mcg: rgb(67,176,71);
    --mclb: rgb(9,181,212);
    --bsb: rgba(0, 0, 0, 0.397);
    --purple: rgb(128,0,128);
    --EBFGrey: #989898;
    --ccblue: #1383D9;
    --ccred: #D82613;
    --ccyellow: #D8AA13;
    --ccgreen: #13D8AA;
    --ccpurple: #9014D9;
    --ccorbr: #D86813;
    --White:rgb(255,255,255);
    --Black:rgb(0,0,0);
    --SpanishBlue:#076FBE;
    --IntOrangeEng:#BB1806;
    --KRYellow:#f5df4d;
    --KRRed:#f56e4d;
    --KRBlue:#4D63F5;
    --KRGreen:#63F54D;
    --JBGrey:rgb(133,137,138);
    --GoogleRed:#ea4335;
    --GoogleGreen:#34a853;
    --GoogleYellow:#fbbc05;
    --GoogleBlue:#4285F4;
    --NewKRTeal:#12eaea;
    --NewKRBlue:#1111e8;
    --NewKRRed:#e81111;
    --NewKRYellow:#e8e811;
    --GAlogobg:#faf2e5;
    --GAlogo:#024eac;
    --GAPurple:#5f02ac;
    --GAGrey:#dbd5cd;
    --NewGWGrey:#eee5e9;
    --NewGWYellow:#fee440;
    --NewGWBlue:#00bbf9;
    --NewGWGreen:#00f5d4;
    --NewGWAGreen: rgba(130, 245, 212, 0.897);
    --MMDarkGrey: #8d939c;
    --MeteorJSPurple: #595dff;
    --MeteorJSOrange: #ff6a3e;
    --SilverChalice: #ABABAB;
    --TithelyGreen: #5cd2a4;
    --WestSideFCBlue: #a8dcf3;
    --BloodRed: #6E0E0A;
    --BRGreen: #0A7052;
    --BRBlue: #0A4B70;
    --bl: rgb(0,0,0);
    --BRBlue2: #0E0A70;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-family: Roboto, Geneva, Tahoma, sans-serif;
    background-color: var(--BloodRed);
    overflow-x: hidden;

}

/* Make scroll behavior smooth */
html {
    scroll-behavior: smooth;
    margin: 0 auto;
    display: block;
    height: 100%;
    max-width: 100%;
    background-size: 100% 100%;
}

/* For desktop, tablets, and anything bigger than 768px */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 70%;
}

.col-10 {
    width: 83.33%;

}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For, (hopefully, all), mobile phones */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
        max-width: 100%;
    }
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
   /* -ms-flex: 25%; */
   /* flex: 25%; */
   /* max-width: 25%; */
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column p {
    text-align: center;
    /*text-justify: inter-word;*/
    margin-top: 8px;
   /* vertical-align: middle;*/
    width: 100%;
}

@media screen and (min-width: 600px) {
    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }

        .main-title {
            font-size: 48px
        }

        .main-title-p {
            font-size: 35px
        }

        .main-title-p2 {
            font-size: 32px
        }


        .column p {
            font-size: 28px;
        }

        .bill-hall-main-img {
            width: 80%;
        }

        
    }
}
@media screen and (min-width: 1px) {
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }

        .main-title {
            font-size: 36px;
        }

        .main-title-p {
            font-size: 28px;
        }

        .main-title-p2 {
            font-size: 25px;
        }

        .column p {
            font-size: 26px;
        }

        .bill-hall-main-img {
            width: 100%;
        }

        
    }
}

@media screen and (min-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .main-title {
        font-size: 60px;
    }

    .main-title-p {
        font-size: 40px;
    }

    .main-title-p2 {
        font-size: 37px;
    }

    .column p {
        font-size: 38px;
    }

    .bill-hall-main-img {
        width: 65%;
    }

    .bill-hall-img-p {
        font-size: 30px;
    }
}

/* New page layout settings */

.page-display-container {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.page-display-container-1 {
    display: block;
    margin: 10 auto;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.page-display-stats {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.stat-container {
    display: inline-block;
    margin: 10 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    background-color: var(--BRBlue);
}

.stat-container-1 {
    display: block;
    margin: 10 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    width: 100%;
    /*background-color: var(--BRBlue);*/
   /* opacity: 0.6; */
}

.stat-container-2 {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    background-color: var(--BRBlue2);
  /*  opacity: 0.8; */
}

.stat-container-3 {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    background-color: var(--BRBlue2);

}

.opacity-9 {
    opacity: 0.9;
}

.opacity-8 {
    opacity: 0.8;
}

.opacity-10 {
    opacity: 1;
}

.page-display-container-relative {
    /*position: relative;*/
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.page-display-container-relative-2 {
    /*position: relative;*/
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.page-display-float {
    margin: 10 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    overflow: hidden;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
    overflow: hidden;
}

.float-right-img {
    float: right;
    height: auto;
    overflow: hidden;
}

.float-left-img {
    float: left;
    height: auto;
    overflow: hidden;
}

.page-display-img-text {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.page-display-img-text-h {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    font-weight: bold;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 768px) {
        .extra-spacing {
            display: block;
        }

        .page-display-img-text {
            font-size: 26px;
        }

        .page-display-img-text-h {
            font-size: 38px;
        }

        .page-display-float {
            font-size: 27px;
        }

    }
}

@media screen and (min-width: 768px) {
    .extra-spacing {
        display: none;
    }

    .page-display-img-text {
        font-size: 28px;
    }

    .page-display-img-text-h {
        font-size: 42px;
    }

    .page-display-float {
        font-size: 32px;
    }

}

/* Bill Hall Memorial Picture */
.bill-hall-memorial-img {
    margin: 0 auto;
    height: auto;
    max-width: 1900px;
    display: block;
    text-align: center;
    box-sizing: 2px 1px 1px var(--bsb);
}

.bill-hall-img-container {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

.bill-hall-img-p {
    display: inline-block;
    margin: 10 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.bill-hall-main-container {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

.bill-hall-main-img {
    max-width: 1500px;
    height: auto;
    display: inline-block;
    margin:0 auto;
    opacity: 0.7;
    box-shadow: var(--bsb 2px 2px 2px);
    background-color: var(--White);
}

.bill-hall-desc {
    font-size: 25px;
    /*padding: 5px;*/
}

.main-title-container {
    margin: 0 auto;
    display: block;
    height: auto;
    text-align: center;
}

.main-title {
    margin: 0 auto;
    display: block;
    height: auto;
    font-weight: bold;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.main-title-p {
    margin: 0 auto;
    display: block;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.main-title-p2 {
    margin: 0 auto;
    display: block;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
}

.gfd-logo {
    margin: 0 auto;
    max-width: 670px;
    height: auto;
    display: inline-block;
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 768px) {
        .extra-spacing {
            display: block;
        }

        .bill-hall-img-p {
            font-size: 25px;
        }
    }
}

@media screen and (min-width: 768px) {
    .extra-spacing {
        display: none;
    }

}

@media screen and (min-width: 768px) {
    @media screen and (max-width: 800px) {
        .bill-hall-img-p {
            font-size: 29px;
        }
    }
}

/* Donation Button */
.button {
    border-radius: 4px;
    background-color: var(--BRBlue);
    color: var(--White);
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    /*overflow: hidden;*/
}

.button-container {
    display: inline-block;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: var(--White);
    text-shadow: var(--bl) 2px 2px 2px;
    /*overflow: hidden;*/
}

@media screen and (min-width: 1px) {
    @media screen and (max-width: 768px) {
        .button {
            font-size: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 180px;
        }

        .stat-container {
            font-size: 23px;
            width: 100%;
        }

        .stat-container-1 {
            font-size: 23px;
        }
    }
}

@media screen and (min-width: 768px) {
    @media screen and (max-width: 1100px) {
        .button {
            font-size: 20px;
            padding-top: 12px;
            padding-bottom: 12px;
            width: 115px;
        }

        .stat-container {
            font-size: 21px;
            width: 32%;
        }

        .stat-container-1 {
            font-size: 21px;
        }
    }
}

@media screen and (min-width: 1100px) {
    @media screen and (max-width: 1300px) {
        .button {
            font-size: 28px;
            padding-top: 13px;
            padding-bottom: 13px;
            width: 160px;
        }

        .stat-container {
            font-size: 24px;
            width: 32%;
        }

        .stat-container-1 {
            font-size: 24px;
        }
    }
}

@media screen and (min-width: 1300px) {
    .button {
        font-size: 31px;
        padding-top: 14px;
        padding-bottom: 14px;
        width: 190px;
    }

    .stat-container {
        font-size: 26px;
        width: 33%;
    }

    .stat-container-1 {
        font-size: 26px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
       /* overflow: hidden;*/
    }
    
    .button i {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
       /* overflow: hidden; */
    }
    
    .button:hover span {
        padding-right: 25px;
        /*overflow: hidden;*/
        /*text-align: left;*/
    }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
       /* overflow: hidden; */
    }
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
   /* transition: 0.5s; */
   /* overflow: hidden;*/
}

.button i {
    cursor: pointer;
    display: inline-block;
    position: relative;
 /*   transition: 0.5s; */
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

